*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none
}
li{
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import './App';
@import './Components/Header/Header';
@import './Components/footer/Footer';
@import './Pages/About/About';
@import './Pages/Contact/Contact';
@import './Pages/Home/Home';
@import './Pages/Services/Services';